<h1>Showing album, <%= @album.name %>, it currently has <%= @tracks.length%> tracks</h1>
<%= link_to "Edit album", edit_album_url(@album) %>
<%= button_to "Delete album", album_url(@album), method: :delete %>

<p>This album was recorded <%= @album.album_type %>
<br>
<h2>All tracks on this album</h2>

<table class="table fixed table-striped">
  <thead>
    <th>#</th>
    <th>Track name</th>
    <th>Track type</th>
    <th>Band</th>
    <th>More Info</th>
  </thead>
  
  <% @tracks.each_with_index do |track, idx| %>
    <tr>
      <td><%= idx + 1%></td>
      <td><%= track.name %></td>
      <td><%= track.track_type %></td>
      <td><%= track.band.name %></td>
      <td><%= link_to "More info", track_url(track)%></td>
    </tr>
  <% end %>
</table>
<ul>
  <% @tracks.each do |track| %>
    <li><%= link_to track.name, track_url(track) %></li>
  <% end %>
</ul>
<%= link_to "Add a new track!", new_album_track_url(@album) %>
<br>
<%= link_to "Back to band #{@band.name}", band_url(@band) %>